---
IndentWidth: 4
PackConstructorInitializers: CurrentLine
NamespaceIndentation: All
Language: Cpp
KeepEmptyLinesAtTheStartOfBlocks: false
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Mozilla
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
IncludeBlocks: Regroup
FixNamespaceComments: true
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
BinPackArguments: false
PenaltyReturnTypeOnItsOwnLine: 1000